<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802131498495-ujal2am5ann42rbq27ou4o0aias93k0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802131498495-ujal2am5ann42rbq27ou4o0aias93k0d</string>
	<key>API_KEY</key>
	<string>AIzaSyDWx89laCyPpTWesXg2qlZHR-Lt_WhfOsc</string>
	<key>GCM_SENDER_ID</key>
	<string>802131498495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userloginWeb</string>
	<key>PROJECT_ID</key>
	<string>my-flutter-web-a5f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutter-web-a5f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802131498495:ios:f93d8fcac0ed5d5e7ac3ca</string>
</dict>
</plist>